<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}{% if page.url != "/" %} - {{ site.name }}{% endif %}</title>
		<meta name="robots" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">

		<base href="{{ page.url }}">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="application-name" content="{{ site.name }}">
		<meta name="format-detection" content="telephone=no">

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
		<link rel="shortcut icon" href="/assets/favicon/favicon.ico">
		<meta name="apple-mobile-web-app-title" content="{{ site.name }}" />

		<link rel="preload" href="/assets/fonts/PPNeueMontreal-Variable.woff2" as="font" type="font/woff2" crossorigin>

		<meta name="color-scheme" content="light">
		<meta name="theme-color" content="#0a0a0a">
		<link rel="stylesheet" href="/css/tw.css?v={% cacheBuster %}">
	</head>
	<body class="flex h-screen-dynamic flex-col min-w-75 text-fg relative overflow-x-clip">
		<div class="main-noise-layer" aria-hidden="true"></div>
		<div class="page-fade page-fade--top" aria-hidden="true"></div>
		{{ content | safe }}
		<script src="/js/core.js?v={% cacheBuster %}" defer></script>
	</body>
</html>
