---
layout: base
---
{% include 'header.njk' %}

<main class="scroll-container flex-1 block overflow-x-hidden overflow-y-auto bg-page pt-header">
	<div class="w-full pt-8 xl:pt-12 pb-16">
		{{ content | safe }}
	</div>
</main>
