<header class="custom-header fixed z-50 left-0 right-0 top-0">
	<div class="flex items-center">

		<a href="/" class="flex-initial w-18 lg:w-20 xl:w-24 overflow-hidden aspect-square bg-accent-1 flex items-center justify-center shrink-0 group my-3 mr-1.5 rounded-xl logo-link relative z-10" title="" aria-label="Diederik Dijkstra">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 123 285" class="h-[75%]"><path class="fill-header-fg " d="M50 79q-19-6-30-15A45 45 0 0 1 5 39v-5Q5 19 18 9 32-1 54 0v5Q40 5 34 8t-6 7v3l5 6 7 4 67 31q15 11 16 33v132q1 19-7 25a67 67 0 0 1-26 12l-7 3q-7 2-14 7t-12 13q-11-12-26-20-15-9-31-12v-5q6 0 7-3l3-8V87l7 2a48 48 0 0 0 24-1q6-2 9-8zm4 0v156l10 4 11 10 3 3V105q0-9-5-14a33 33 0 0 0-15-10z"/></svg>
		</a>

		{# <a href="/" class="flex-initial w-16 lg:w-20 xl:w-24 block rounded-md overflow-hidden" title="" aria-label="Diederik Dijkstra">
			<img src="/media/avatar.jpeg" alt="" eleventy:widths="160" loading="eager" fetchpriority="high">
		</a> #}

		<div class="flex-auto text-end py-2 xl:py-3">
			<div class="inline-flex gap-2 font-extrabold lowercase">
				<a href="https://instagram.com/diederik.dijkstra" target="_blank" rel="noopener noreferrer" class="u-button u-button--sm u-button--dark">Instagram</a>
				<a href="#" class="u-button u-button--sm u-button--dark" aria-label="Stuur een e-mail naar Diederik" data-js="email">E-mail</a>
			</div>
		</div>

	</div><!--container-->
</header>
