---
permalink: /rss/index.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.lang }}">
  <title>{{ site.name | escape }}</title>
  <subtitle>{{ site.description | escape }}</subtitle>
  <link href="{{ site.url }}/rss/index.xml" rel="self" />
  <link href="{{ site.url }}" />
  <updated>{{ collections.feedRss | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name | escape }}</name>
  </author>
  {% for item in collections.feedRss %}
  {% if loop.index <= 10 %}
  {% include "feed/entry.njk" %}
  {% endif %}
  {% endfor %}
</feed>
