---
title: Sportclubs en financiële problemen
layout: default
permalink: /
---
{% from "components/feed-list.njk" import feedList %}

<div class="container xl:py-6 mb-8 xl:mb-12">
  <div class="u-text-xl leading-[1.1] lg:tracking-tight max-w-xl md:max-w-5xl lg:max-w-6xl xl:max-w-7xl">
    {{ site.description | safe }}
  </div>
</div><!--container-->

{{ feedList(collections.feed) }}
